{{ define "main" }}
<div class="uk-section">
    <div class="uk-container uk-container-small">
        <div class="uk-flex uk-flex-center">
            <div class="uk-width-2xlarge">
                <div class="uk-margin-medium-bottom">
                    <p>You can view our menu through image format with the links below or using the web format below.</p>
                    <ul class="uk-list">
                        <li uk-lightbox><a href="https://res.cloudinary.com/hungryram19/image/upload/v1633193931/aj-garcia/power-basic-combo.png" class="accent">Choosing Power or Basic Combo</a></li>
                        <li uk-lightbox><a href="https://res.cloudinary.com/hungryram19/image/upload/v1633136467/aj-garcia/power-tea-menu.png" class="accent">Power Tea Menu</a></li>
                        <li uk-lightbox><a href="https://res.cloudinary.com/hungryram19/image/upload/v1633136469/aj-garcia/shake-menu.png" class="accent">Shake Menu</a></li>
                        <li uk-lightbox><a href="https://res.cloudinary.com/hungryram19/image/upload/v1633136471/aj-garcia/hot-menu.png" class="accent">Hot Menu</a></li>
                    </ul>
                </div>
                <div class="step__one">
                    <h3>1. Choose a shake</h3>
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title uk-light" style="font-size: 2rem;" href="#">Nutritional Shakes</a>
                            <div class="uk-accordion-content uk-margin-medium-top">
                                <p class="uk-text-bold">Under 200 calories, 17+ grams of protein, 45 essential vitatmins and minerals. Keto friendly.</p>
                                <div class="uk-column-1-2">
                                    <ul class="uk-list uk-list-decimal">
                                        {{ range .Params.shake_menu.shakes }}
                                            <li><strong class="uk-text-uppercase">{{ .name }}</strong></li>
                                        {{ end }}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title uk-light" style="font-size: 2rem;" href="#">Shake Add-ons</a>
                            <div class="uk-accordion-content uk-margin-medium-top">
                                <div class="uk-column-1-2">
                                    <ul class="uk-list uk-list-hyphen">
                                        {{ range .Params.shake_add_ons }}
                                            <li><strong class="uk-text-uppercase">{{ .name }}</strong></li>
                                        {{ end }}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="step__two uk-margin-medium-top">
                    <h3>2. Choose a basic tea or power tea</h3>
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title uk-light" style="font-size: 2rem;" href="#">Power Teas</a>
                            <div class="uk-accordion-content uk-margin-medium-top">
                                <p class="uk-text-bold">Includes aloe, tea, liftoff</p>
                                <div class="uk-column-1-2@s">
                                    <ul class="uk-list uk-list-hyphen">
                                        {{ range .Params.power_tea.p_teas }}
                                        <li>
                                            <strong class="uk-text-uppercase" style="text-decoration: underline;">{{ .name }}</strong><br>
                                            <span>{{ .ingredients }}</span>
                                        </li>
                                        {{ end }}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title" style="font-size: 2rem;" href="#">Basic Teas</a>
                            <div class="uk-accordion-content uk-margin-medium-top">
                                <p class="uk-text-bold">Includes aloe, tea, liftoff</p>
                                <div class="uk-column-1-2">
                                    <ul class="uk-list uk-list-hyphen">
                                        {{ range .Params.basic_tea.b_tea }}
                                        <li>
                                            <strong class="uk-text-uppercase" style="text-decoration: underline;">{{ .name }}</strong><br>
                                        </li>
                                        {{ end }}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title uk-light" style="font-size: 2rem;" href="#">Tea add-ons</a>
                            <div class="uk-accordion-content uk-margin-medium-top">
                                <p class="uk-text-bold">Need a little tea boost? View our add-ons. <em>Liftoff is included in a power tea.</em></p>
                                
                                <div class="uk-column-1-2">
                                    <ul class="uk-list uk-list-hyphen">
                                        {{ range .Params.tea_add_ons }}
                                        <li>
                                            <strong class="uk-text-uppercase" style="text-decoration: underline;">{{ .name }}</strong><br>
                                            {{ if .ingredients }}<span>{{ .ingredients }}</span>{{ end }}
                                        </li>
                                        {{ end }}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}