{{ partial "global/head" . }}
<div class="uk-position-top full-nav-wrapper" style="z-index: 1;">
    {{ partial "global/navbar" . }}
</div>
<div class="uk-background-norepeat uk-background-cover uk-background-center-center uk-flex uk-flex-middle uk-height-large"  style="background:url(https://res.cloudinary.com/hungryram19/image/upload/v1633130366/aj-garcia/drink-banner.jpg) no-repeat center;background-size:cover">
    <div class="uk-width-1-1">
        <div class="uk-container uk-container-large uk-text-center">
            <div>
                <h1 class="uk-text-large">{{ .Title }}</h1>
                <h2 class="uk-h1">{{ .Params.heading }}</h2>
                <hr class="uk-divider-small">
            </div>
        </div>
    </div>
</div>
<main>
{{ block "main" . }}

{{ end }}
</main>

{{ partial "global/footer" . }}
