
{{ $companyName := .Site.Data.profile.company_name }}
{{ $footer := .Site.Data.appearance.footer }}
{{ $footerContact := .Site.Data.profile.contact_information }}
{{ $footerSocial := .Site.Data.profile.social_media }}
{{ $accent := $.Site.Data.appearance.colors.accent }}
<footer class="footer">
    <div class="uk-section">
        <div class="uk-container uk-container-large">
            <div class="uk-child-width-1-1">
                <div class="uk-flex-middle uk-width-1-1@m uk-text-center">
                    <a href="{{ .Site.BaseURL }}">
                        <img src="{{ .Site.Data.appearance.branding.logo }}" alt="{{ .Site.Data.profile.company_name }} logo" width="150">
                    </a>
                </div>
            </div>
            <div class="uk-grid-margin uk-grid">
                <div class="uk-width-1-3@s uk-flex-first@s uk-first-column">
                    <div class="uk-panel uk-width-1-1">
                        <h3 class="uk-h4 uk-text-center">Visit Us</h3>
                        <div class="uk-panel uk-margin uk-text-center">

                            <ul class="uk-list">
                                <li><span class="uk-text-bold">Mon-Fri:</span> <span>7am-4pm</span></li>
                                <li><span class="uk-text-bold">Sat:</span> <span>8am-2pm</span></li>
                                <li><span class="uk-text-bold">Sun:</span> <span>Closed</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@s uk-flex-first">
                    <div class="uk-panel uk-width-1-1">
                        <h3 class="uk-h4 uk-margin-remove-top uk-text-center">Contact</h3>
                        <div class="uk-panel uk-margin uk-text-center">
                            {{ if $footerContact.address }}<li><a href="{{ if $footerContact.google_page_link }}{{ $footerContact.google_page_link }}{{ else }}https://www.google.com/maps/place/{{ $footerContact.address }},+{{ $footerContact.city }},+{{ $footerContact.state }}{{ end }}">{{ $footerContact.address }}, {{ $footerContact.city }},<br> {{ $footerContact.state }} {{ $footerContact.zip_code }}</a></li>{{ end }}

                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@s">
                    <div class="uk-panel uk-width-1-1">
                        <h3 class="uk-h4 uk-text-center">Hours</h3>
                        <div class="uk-panel uk-margin uk-text-center">
                            <ul class="uk-list">
                                {{ if $footerContact.phone }}<li><a href="tel:{{ $footerContact.phone }}">{{ $footerContact.phone }}</a></li>{{ end }}
                                {{ if $footerContact.cell }}<li><a href="tel:{{ $footerContact.cell }}">{{ $footerContact.cell }}</a></li>{{ end }}
                                {{ if $footerContact.email }}<li><a href="mailto:{{ $footerContact.email }}">{{ $footerContact.email }}</a></li>{{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-child-width-1-1 uk-margin-medium">
                <div class="uk-text-center">
                    <div class="uk-margin-large"></div>
                    <small class="uk-text-small">&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.company_name }} &middot; <a href="https://hungryram.com" target="_blank" rel="nofollow">Website Developed by Hungry Ram</a></small>
                </div>
            </div>
        </div>
    </div>
</footer>