	<div class="uk-background-norepeat uk-background-cover uk-background-center-right uk-flex uk-flex-middle" uk-height-viewport style="background:url(https://res.cloudinary.com/hungryram19/image/upload/v1633056156/aj-garcia/powder-explosion.jpg) no-repeat center;background-size:cover">
		<div class="uk-width-1-1">
			<div class="uk-container uk-container-large">
                <div class="uk-width-2xlarge">
					<div class="hero__heading" uk-scrollspy="cls:uk-animation-slide-top-small">
						<h1 style="font-size: 9rem;line-height:1" uk-parallax="y: -200; opacity: 1,0;">KRAVE <span class="uk-display-block uk-margin-large-left">Nutrition</span></h1>
					</div>
					<div uk-scrollspy="uk-animation-slide-bottom-small">
					<div class="hero__body" uk-parallax="y: 200; opacity: 1,0;">
						<p class="uk-text-bold uk-margin-medium uk-text-italic" style="font-size: 1.2rem;">SMART — FAST — NUTRITION</p>
						<a href="" class="uk-button uk-button-secondary" style="position:relative">View the Menu</a>
					</div>
				</div>
                </div>
			</div>
		</div>
	</div>
