	<div class="uk-background-norepeat uk-background-top-right uk-background-image@s uk-section uk-section-xlarge" data-src="/demo/yard/images/home-about-bg.svg" style="background-image: url(&quot;https://demo.yootheme.com/demo/yard/images/home-about-bg.svg&quot;); background-position: calc(100% + -80px) calc(180.14px);">
		<div class="uk-container uk-container-large">
			<div class="uk-grid-large uk-grid-margin-large uk-grid">
				<div class="uk-width-xlarge@l" uk-scrollspy="cls:uk-animation-fade;delay:300">
					<div>
						<h2 class="uk-h1">DRINKS YOU CANNOT RESIST</h2>
                        <p class="uk-text-bold uk-text-uppercase">The best nutrition drinks in Anaheim</p>
					</div>
					<div class="uk-panel uk-margin-medium uk-width-xlarge">
						<p>Krave Nutrition is a healthy beverage bar that serves drinks which not only satisfies your taste buds, it also hits the requirements to fuel your body with the best nutrition!</p>
					</div>
					<div class="uk-margin">
						<a class="el-content uk-button uk-button-primary uk-button-large" href="https://demo.yootheme.com/wordpress/themes/yard/index.php?page_id=4">About Us</a>
					</div>
				</div>
                <div class="uk-width-expand@l" uk-scrollspy="cls:uk-animation-fade;delay:300">
					<div class="uk-margin" id="page#1-0-1-0">
						<div class="uk-child-width-1-2 uk-grid-match uk-grid">
							<div>
								<div class="uk-panel uk-margin-large-top">
									<img src="https://res.cloudinary.com/hungryram19/image/upload/v1633057485/aj-garcia/krave-nutrition-drink.jpg">
								</div>
							</div>
							<div>
								<div class="uk-panel">
									<img src="https://res.cloudinary.com/hungryram19/image/upload/v1633058487/aj-garcia/pumpkin-spice.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
