{{ define "main" }}
{{ $footerContact := .Site.Data.profile.contact_information }}
{{ $optBlock := dict "display" "block" }}

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-large uk-grid">
            <div class="uk-width-1-2@s">
                <div class="uk-card">
                    <h3 class="uk-margin-medium-bottom">Get in touch</h3>
                    <ul class="uk-list contact__page">
                        {{ if $footerContact.phone }}<li class="uk-margin-medium-bottom"><a href="tel:{{ $footerContact.phone }}"><span class="uk-margin-small-right uk-icon-button" uk-icon="receiver"></span>{{ $footerContact.phone }}</a></li>{{ end }}
                        {{ if $footerContact.cell }}<li class="uk-margin-medium-bottom"><a href="tel:{{ $footerContact.cell }}"><span class="uk-margin-small-right uk-icon-button" uk-icon="phone"></span>{{ $footerContact.cell }}</a></li>{{ end }}
                        {{ if $footerContact.email }}<li class="uk-margin-medium-bottom"><a href="tel:{{ $footerContact.email }}"><span class="uk-margin-small-right uk-icon-button" uk-icon="mail"></span>{{ $footerContact.email }}</a></li>{{ end }}
                        {{ if $footerContact.address }}<li class="uk-margin-medium-bottom"><span class="uk-margin-small-right uk-icon-button" uk-icon="location"></span><a href="{{ if $footerContact.google_page_link }}{{ $footerContact.google_page_link }}{{ else }}https://www.google.com/maps/place/{{ $footerContact.address }},+{{ $footerContact.city }},+{{ $footerContact.state }}{{ end }}">{{ $footerContact.address }}, {{ $footerContact.city }}, {{ $footerContact.state }} {{ $footerContact.zip_code }}</a></li>{{ end }}                    
                    </ul>
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-card">
                    <h3>Send an email</h3>
                    <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true" class="uk-grid-small" uk-grid action="/thank-you">
                        <input name="bot-field" type="hidden" />
                        <input type="hidden" name="Subject" value="Website Contact Form">
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" type="text" name="Name" id="uk-input-name" placeholder="Name" required>
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" type="text" name="Phone" id="uk-input-phone" placeholder="Phone" required>
                        </div>
                        <div class="uk-width-1-1">
                            <input class="uk-input" type="email" id="input-email" name="Email" placeholder="Email" required>
                        </div>
                        <div class="uk-width-1-1">
                            <textarea class="uk-textarea" rows="5" id="textarea-info" name="Message" placeholder="Message"></textarea>
                        </div>
                        <div class="uk-width-1-1">
                            <button class="uk-button uk-button-primary uk-width-1-1">Submit</button>
                        </div>
                        <div class="uk-width-1-1">
                            <p>By submitting the form with your information above you are agreeing to our <a style="color:#19202A" href="/legal/terms-and-conditions">Terms and Conditions</a> and <a style="color:#19202A" href="/legal/privacy-policy">Privacy Policy</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section">
    <div class="uk-container uk-container-large">
        <h3>Visit our store</h3>
        <div class="uk-margin-medium-top">
            {{ partial "home/map" . }}
        </div>
    </div>
</div>

{{ end }}

